# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
yarn.lock
example.js
utils/route.js
utils/menu.js
build.sh
pnpm-lock.yaml

# 忽略全部文件
pages/*
# 只保留特定文件
!pages/company
!pages/preview
!pages/index.vue